.sidebar{
    flex: .2;
    /* background-color: yellow; */
    /* border: 1px solid black; */
}
.sidebar > hr{
    height: 1px;
    border: none;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}